@{
    ViewBag.Title = "cltstartup.info: Charlotte, NC - Entrepreneurial and Startup Resources";
}

<p>This is an attempt to gather in a single place as many resources for entrepreneurs and others interested in startups or the tech startup community in the Charlotte NC area.</p>

<p>If you know of resources, or find that a resource is no longer available, please tell me about it: <a href="mailto:devin@cltstartup.info">devin@cltstartup.info</a></p>

<h2>Events and Conferences</h2>

<h3>Meetups</h3>
<ul>
    <li><a href="http://www.meetup.com/clthackers/">Hackers and Founders</a></li>
</ul>

<h3>Entrepreneurship & Startup Events</h3>

<ul>
    <li><a href="http://www.ncentresummit.org/">North Carolina Entrepreneurial Summit</a></li>
    <li><a href="http://www.cednc.org/">CED Tech Venture Conference</a></li>
    <li><a href="http://charlotte.startupweekend.org/">Startup Weekend Charlotte</a></li>
    <li><a href="http://asheville.startupweekend.org/">Startup Weekend Asheville</a></li>
    <li><a href="http://triangle.startupweekend.org/">Startup Weekend Triangle</a></li>
</ul>

<h3>Tech & Design Events</h3>
<ul>
    <li><a href="http://webafternoon.com/">A Web Afternoon</a></li>
    <li><a href="http://codecamp.developersguild.org/">Carolina Code Camp</a></li>
    <li><a href="http://codecamp.org/">RDU Code Camp</a></li>
</ul>

<!--
<h3>Hackathons</h3>

<ul>
</ul>
-->

<h2>Email Newsletters</h2>

<ul>
    <li><a href="http://itsbspoke.us2.list-manage.com/subscribe?u=8b4656bd4a093a3bcabfda08a&id=564f168838">Charlotte Startup Community Newsletter</a></li>
</ul>

<h2>Coworking</h2>
<ul>
    <li><a href="http://packardplace.us">Packard Place</a></li>
    <li><a href="http://lightbulbcoworking.com/">Lightbulb</a></li>
    <li><a href="http://mojocoworking.com/">Mojo Coworking (Asheville)</a></li>
    <li><a href="http://industrycoworking.com">Industry Cowork</a></li>
    <li><a href="http://bullcitycoworking.com/">Bull City Coworking (Triangle)</a></li>
</ul>

<h2>Business Development</h2>
<ul>
    <li><a href="http://charlottechamber.com/">Charlotte Chamber of Commerce</a></li>
    <li><a href="http://www.blnc.gov/">Business Link North Carolina</a></li>
    <li><a href="http://www.bigcouncil.com/">BIG Council</a></li>
    <li><a href="http://www.charlottescore.org/">SCORE - Charlotte Chapter</a></li>
</ul>

<h2>Legal</h2>
<ul>
    <li><a href="http://www.hutchlaw.com/">Hutchison PLLC</a></li>
</ul>

<h2>Incubators</h2>

<ul>
    <li><a href="http://revtechlabs.com/">RevTech Labs</a></li>
    <li><a href="http://cltjoules.com/">CLT Joules</a></li>
    <li>InnovoTech</li>
</ul>

<h2>Funding</h2>


<h3>Grants</h3>
<ul>
    <li><a href="http://www.ncidea.org/">NC IDEA</a></li>
</ul>

<h3>Angel Groups</h3>
<ul>
    <li><a href="http://www.imafcharlotte.com/">Inception Micro Angel Fund - Charlotte</a></li>
    <li><a href="http://www.upstateangels.com/">Upstate Carolina Angel Network</a></li>
</ul>

<h3>Venture Capital</h3>

<ul>
    <li><a href="http://www.noromoseley.com/">Noro-Moseley Partners</a></li>
    <li><a href="http://investorscircle.net/as_northcarolina">Investors Circle - North Carolina</a></li>
</ul>

<h2>Other Entrepreneur/Startup Orgs</h2>

<ul>
    <li>StartupNC</li>
    <li><a href="http://queencityforward.org/">Queen City Forward</a></li>
    <li><a href="http://www.ventureprise.org/">Ventureprise</a></li>
    <li><a href="http://www.blackstoneentrepreneurs.org">Blackstone Entrepreneurs Network</a></li>
    <!--<li><a href="http://ventureasheville.com/">Venture Asheville</a></li>-->
</ul>
